@{ 
    ViewBag.Title = "Home Page";


}

    <h2>The World</h2>
    <p> Something fun here</p>

    <form>
        <div>
            <label>Date</label>
            <input />
        </div>
        <div>
            <label>Location</label>
            <input / >
        </div>
        <input type="submit" value="Add" />
    </form>

